#gallery_post_format_box, #quote_post_title_box, #quote_post_author_box, #video_post_embed_box, #video_post_link_box, #auto_post_embed_box, #auto_post_link_box{display: none;}
.jlmedia-gallery-images-holder{
  float: left;
  width: 100%;
}
#footer-thankyou, .redux-timer, .is-dismissible.redux-notice, .rAds, .redux-container #redux-header .display_header span.redux-dev-mode-notice{display: none !important;}
.jlmedia-gallery-images-holder li{
  float: left;
  width: 100px;
  padding: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.jlmedia-gallery-images-holder li img{
  width: 100%;
  float: left;
}
.jlmedia-gallery-upload-btn:hover, .jlmedia-gallery-clear-btn:hover,
.jlmedia-gallery-upload-btn:active, .jlmedia-gallery-clear-btn:active,
.jlmedia-gallery-upload-btn:focus, .jlmedia-gallery-clear-btn:focus{
  color: #fff !important;
  opacity: 0.9;
  outline: none;
}
#gallery_post_format_box br, #gallery_post_format_box span{
  display: none !important;
}
#video_post_embed, #auto_post_embed{ width: 470px;}
#gallery_post_format_box .jlmedia-gallery-images-holder{
  margin-top: 0px;
}
.jlmedia-gallery-upload-btn{
    background-color: #0073aa;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 20px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    float: left;
    margin-right: 10px;
}
.jlmedia-gallery-clear-btn{
    background-color: #a00;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 8px 20px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    float: left !important;
}
.category_style_item_image_wrapper{
    float: left;
    width: 100%;
    margin: 10px 0px;
}
.category_style_item_image_wrapper .category_style_item_image{
    width: 60px;
    float: left;
    text-align: center;
    margin-right: 10px;
}
.category_style_item_image_wrapper .category_style_item_image img{
    width: 100%;
    border:2px solid #fff;
}


.category_style_item_image_wrapper .category_style_item_image input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.category_style_item_image_wrapper .category_style_item_image input:checked + label > img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #00a0d2;
}

.reactions_img_wrapper .category_style_item_image{
  width: auto;
  margin-bottom: 10px !important;
}
.reactions_img_wrapper .category_style_item_image input{
  margin-right: 0px !important;
}

.reactions_img_wrapper .reactions_img_bg{
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  display: block;
  padding: 0px;
  background-color: #ffe041;
  background: -moz-radial-gradient(center, ellipse cover, #ffe041 0%, #ffc965 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ffe041 0%,#ffc965 100%);
  background: radial-gradient(ellipse at center, #ffe041 0%,#ffc965 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe041', endColorstr='#ffc965',GradientType=1 );
  border: 1px solid #fbab48;
}
.reactions_img_wrapper .reactions_img_bg img{
  border: 0px;
}
.reactions_img_wrapper input:checked + label > img{
  border: 0px !important;
}
#optionsframework-wrap{
    padding: 0px 0px 0px 0px;
    margin: 100px auto;
    width: 900px;
     background: #23282D;
     overflow: hidden;
}
#optionsframework-wrap > h2{
  display: none;
}
#optionsframework-wrap #setting-error-save_options, #optionsframework-wrap #setting-error-restore_defaults{
  margin: 0px !important;
}
#optionsframework-wrap .nav-tab-wrapper{
  display: block !important;
  background: #23282D;
  width: 215px;
  float: left;
  min-height: 593px;
  overflow: hidden;  
  border: 0px;
  padding-top: 0px;
}
#optionsframework-wrap .nav-tab-wrapper a{ float: left; width: 100%; margin:0px; padding: 0px;}
#optionsframework-wrap .nav-tab-wrapper a{height: 45px; line-height: 45px; padding: 0px 20px; background: none; border: 0px; color: #fff; font-size: 13px; border-bottom: 1px solid #464646;}
#optionsframework-wrap .nav-tab-wrapper a:hover{ border: 0px !important; background: #151719; color: #FFF;  border: 0px; border-bottom: 1px solid #464646 !important;}
#optionsframework-wrap .nav-tab-wrapper a.nav-tab-active {
    background: #151719;
    color: #FFF;
}
#optionsframework-metabox{
    width: 663px;
    background: #fff;
    float: right;
    border: 1px solid #DADADA;
    min-height: 600px;
    position: relative;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 0px !important;
}
#optionsframework-metabox .postbox{
  border: 0px !important;
  margin-bottom: 0px;
}
#optionsframework-metabox #optionsframework h3{
    background: none;
    border: none;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 1em 0;
}
#optionsframework-metabox #optionsframework .section .heading{
  padding: 10px;
    font-size: 13px;
    margin: -10px -10px 10px -10px;
    border-bottom: 1px solid #DFDFDF;
    background: #F1F1F1;
}
#optionsframework-metabox #optionsframework .section{
  padding: 10px 10px 10px;
    background: #FAFAFA;
    margin-bottom: 10px;
    width: 641px;
    margin-top: 15px;
    border: 1px solid #DBDBDB;
}
#optionsframework-metabox #optionsframework-submit{
      margin: 0px -10px;
}
#optionsframework-metabox #optionsframework .controls .of-radio-img-img {
  border:3px solid #BDBDBD;
  margin:0 5px 0px 0;
  display:none;
  cursor:pointer;
  float:left;
  border-radius: 3px;
}
#optionsframework-metabox #optionsframework .controls .of-radio-img-selected {
  border:3px solid #0073AA;
}
#optionsframework-metabox #optionsframework .controls .of-radio-img-img:hover {
  opacity:.8;
  border: 3px solid #0385C3;
}
#optionsframework-metabox #optionsframework .controls .of-border-width {
  width:80px;
  float:left
}
#optionsframework-metabox #optionsframework .controls .of-border-style {
  width:120px;
  float:left
}
#optionsframework .section .controls{
  width: 100% !important;
}